table, th, td {
    border: 0.01px solid lightgray;
    width: 80%;
    table-layout: fixed;
}

h1 {
	font-family: Verdana;
	font-size: 100 px ;
	font-weight: 500;
	color: white;

}
h3 {
	font-size: 5 px ;
	font-weight: 300;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
