table, th, td {
    border: 0.01px solid lightgray;
    width: 80%;
    table-layout: fixed;
}

h1 {
	font-family: Verdana;
	font-size: 100 px ;
	font-weight: 400;
	color: white;

}
h3 {
	font-size: 5 px ;
	font-weight: 300;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, 
.ui-btn-icon-top:after, .ui-btn-icon-bottom:after, 
.ui-btn-icon-notext:after {
	background-color: #c4c5c3;
}

.ui-page-theme-a a:visited, 
html .ui-bar-a a:visited, 
html .ui-body-a a:visited, 
html body .ui-group-theme-a a:visited {
    background-color: #63ac27;
}

ui-btn-left ui-corner-all:active {
	background: red;
}
